[run]
branch = True
include = answers_service/*
omit =
    *./venv*
    *.pyenv*
    *migrations/*
    *setup.py*
    *__init__.py*
    *tests/*
    */home/lev/Desktop/project/SSproject/answers-service-repo/venv*


[report]
show_missing = True
precision = 2

[paths]
source = /home/lev/Desktop/project/SSproject/answers-service-repo/answers_service
