[run]
branch = True
include = answers_service/*
omit =
    *./venv*
    *.pyenv*
    *migrations/*
    *setup.py*
    *__init__.py*
    *tests/*


[report]
show_missing = True
precision = 2

[paths]
source = /home/lev/project/4m/4m-answers-service/answers_service
